<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de Cadastros</title>
    <link rel="stylesheet" href="/css/showUsers.css">
</head>
<body>
    <h1>Busca de Cadastros</h1>

    <a href="/" class="seta"><img src="/img/Arrow_Left.png"></a>

    <div class="CampoDeTexto">
        <form action="TakeStudents" method="get" onsubmit="validate()">
            <input type="text" id="campo" name="campo" placeholder="Busca">
            <input type="text" id="variavel" name="variavel" hidden>
            <button type="submit" id="busca">Buscar</button>
        </form>
        <%- include('include/messages')%>
        <select id="opcao">
            <option value="id">ID</option>
            <option value="nome">Nome</option>
            <option value="idade">Idade</option>
            <option value="endereco">Endereço</option>
            <option value="cpf">CPF</option>
            <option value="rg">RG</option>
        </select>
    </div>
    

    <div class="table">
        <h2>Id</h2>
        <h2>Nome</h2>
        <h2>Idade</h2>
        <h2>Endereço</h2>
        <h2>CPF</h2>
        <h2>RG</h2>
        <% if (allStudents) { %>
            <% allStudents.forEach(student => { %>
                <h2><%= student.id%></h2>
                <h2><%= student.nome%></h2>
                <h2><%= student.idade%></h2>
                <h2><%= student.endereco%></h2>
                <h2><%= student.cpf%></h2>
                <h2><%= student.rg%></h2>
            <% }) %>
        <% } %>
    </div>

    
</body>

<script src="/scripts/ShowUsers.js"></script>
</html>